.shop-category{
    margin-bottom: 5rem;
}

.shop-category h1{
    justify-content: center;
    display: flex;
    padding-top: 30px;
    font-weight: 600;
}

.shop-banner{
    display: block;
    margin: auto;
    max-width: 100%;
    height: 600px;
    object-fit: cover;
    filter: brightness(0.8);
} 

.shopcategory-indexSort{
    display: flex;
    margin: 20px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-indexSort span{
    font-weight: 600;
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid gray;
}

.shopcategory-products{
    justify-content: center;
    margin: 20px 170px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
}

@media (max-width:1280px) {
    .shop-category h1{
        font-size: 36px;
    }
    .shopcategory-indexSort{
        margin: 20px 60px;
    }
    .shopcategory-products{
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
}

@media (max-width:1024px) {
    .shopcategory-indexSort{
        margin: 20px 45px;
    }
}

@media (max-width:800px) {
    .shop-category h1{
        font-size: 28px;
    }
    .shopcategory-indexSort{
        margin: 20px 20px;
    }
    .shopcategory-products{
        width: 95%;
    }
}

@media (max-width:600px)  {
    .shopcategory-indexSort{
        margin: 20px 70px;
    }
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
        width: 75%;
    }
}

@media (max-width:500px)  {
    .shopcategory-indexSort{
        margin: 20px 55px;
    }
}