.navbar{
    background-color: #4e342e;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* minimize the logo size */
.logo{
    max-width: 80px;
    max-height: 70px;
}

.nav-logo p{
    margin: 0;
    color: white;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    visibility: hidden;
}

.nav-menu li{
    text-decoration: none;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.cart-icon{
    font-size: 2rem;
    color: white;
    margin: 0 10px;
}

.cart-count{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -65px;
    border-radius: 11px;
    font-size: 14px;
    background: white;
    color: #4e342e;
}

ul .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    visibility: hidden;
    opacity: 0;
}

.nav-login-cart .nav-btn{
    visibility: hidden;
}

@media (max-width: 1024px) {
    .navbar{
       justify-content: space-between;
       padding: 20px 80px;
    }
    .navbar-toggler {
      display: block;
    }
    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #4e342e;
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 2;
    }

    .responsive_nav{
        transform: none;
    }

    .nav-menu li {
        padding: 15px;
        text-align: center;
        width: 100%;
    }
    .nav-menu-open {
        display: flex;
    }
    ul .nav-btn{
        visibility: visible;
        opacity: 1;  
    }
    .nav-login-cart .nav-btn{
        visibility: visible;
    }

    .nav-login-cart button{
        visibility: hidden;
    }
    .nav-menu button{
        visibility: visible;
        padding: 10px 30px;
    }
  }
  
  @media (max-width: 800px) {
    .nav-logo p{
        display: none;
    }
    .navbar-toggler {
      display: block;
    }
    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #4e342e;
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 2;
    }

    .responsive_nav{
        transform: none;
    }
    .nav-menu li {
        padding: 15px;
        text-align: center;
        width: 100%;
    }
    .nav-menu-open {
        display: flex;
    }
    ul .nav-btn{
        visibility: visible;
        opacity: 1;  
    }
    .nav-login-cart .nav-btn{
        visibility: visible;
    }
  }
  
  @media (max-width: 500px) {

  }
