.subhero-container-box{
    margin: 0 auto;
    max-width: 1130px;
    padding: 0 19px;
}

.subhero-container{
    display: flex;
    height: 30rem;
    justify-content: space-between;
    overflow: hidden;
}

.subhero-left{
    align-items: center;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 11rem;
    text-align: start;
    width: 50%;
}

.subhero-right{
    background-color: #f4f4f4;
    text-align: end;
    width: 50%;
}

.subhero-right img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

@media (max-width:1280px) {
    .subhero-container-box{
        max-width: 980px;
    }
    .subhero-left{
        padding: 5rem;
    }
}

@media (max-width:1024px) {

}

@media (max-width:800px){

}

@media (max-width:500px){

}