.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
}

.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}

.popular-item{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width:1280px) {
    .poputlar-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:1024px) {
    .poputlar-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:768px) {
    .poputlar-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:500px) {
    .poputlar-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}